<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.dhl.g05" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <Root level="error" additivity="false">
            <appenderRef ref="LogToFile" />
        </Root>
    </Loggers>

</Configuration>